<header>
  <div class="wrapper">
    <div class="flex justify-space-between align-center gap-2">
      <div class="logo">
        <img
          src="https://1000logos.net/wp-content/uploads/2021/05/Gmail-logo.png"
          alt=""
          width="100px"
        />
        <span>MyMail</span>
      </div>

      <div class="action">
        <p><%= name %></p>
        <div class="logout">
          <i class="fa-solid fa-right-from-bracket"></i>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  const logoutBtn = document.querySelector(".signout");

  logoutBtn.addEventListener("click", () => {
    // Delete the 'user' cookie by setting an expired date in the past
    document.cookie = "user=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    // Redirect to the sign-in page
    window.location.replace("/sign-in");
  });
</script>
